{% extends '@SyliusUi/layout/centered.html.twig' %}

{% block content %}
  <div class="ui container">
    <h2 class="ui header">{{ title }}</h2>
    {{ form_start(form, {attr: {class: 'ui form'}}) }}
      {{ form_widget(form) }}
      <button class="ui primary button" type="submit">Enregistrer</button>
      <a class="ui button" href="{{ path('admin_exposition_index') }}">Annuler</a>
    {{ form_end(form) }}
  </div>
{% endblock %}

